* {
    font-family: "Roboto", sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

/* navbar */

.navbar {
    position: absolute;
    z-index: 9999999;
}

.navbar-logo {
    width: 7rem;
    margin-top: 3.5rem;
    margin-left: 1rem;
}

.navbar-brand {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: bisque;
}

.navbar-nav {
    margin-top: 2px;
}

.nav-item {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-link::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 2px;
    background-color: gray;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 0;
}

.nav-link::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: gray;
    border-radius: 50%; /* Make it a circle */
    margin-left: 5px;
    margin-bottom: 2px;
    opacity: 0;
}

.nav-link:hover::before {
    opacity: 1;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-active {
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .navbar {
        position: inherit !important;
    }
    .navbar-logo {
        /* width: 2rem;
        margin-top: 3.5rem;
        margin-left: 1rem; */
        display: none;
    }

    .navbar-brand {
        display: none;
        /* border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: bisque; */
    }
}

/* hero */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero-image {
    width: 60%;
    position: relative;
    object-position: center;
}

.hero-text-group {
    margin-left: auto;
    text-align: center;
}

.hero-text {
    font-weight: 500;
    position: absolute;
    top: 210px;
    left: 260px;
}

.hero-header {
    position: absolute;
    top: 250px;
    left: 260px;
    z-index: 1;
    font-size: 40px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px white;
}
.hero-link {
    text-decoration: none;
    color: goldenrod;
    position: absolute;
    top: 330px;
    left: 360px;
    z-index: 9999;
}

.hero-link::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: goldenrod;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .hero-section {
        display: flex;
        flex-direction: column;
    }
    .hero-image {
        margin-top: 10px;
        width: 100%;
    }
    .hero-text-group {
        margin: auto;
    }
    .hero-text {
        font-weight: 500;
        position: inherit;
        text-align: center;
    }
    .hero-header {
        position: inherit;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .hero-link {
        position: inherit;
    }
}

/* about */

.about-section {
    margin-top: 10rem;
    /* margin-bottom: 10rem; */
    display: flex;
    flex-direction: column;
}
.about-group-left {
    display: flex;
    position: relative;
}

.about-left-image {
    width: 50rem;
    height: 25rem;
    object-position: center;
}

.about-group-left-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 500px;
    width: 40rem;
    border: 2px solid goldenrod;
    padding-top: 3rem;
}

.about-left-main-header {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: absolute;
    right: 225px;
    top: 90px;
    width: 100%;
}

.about-left-header {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-left: 100px;
}

.about-left-text {
    width: 20rem;
    padding-left: 2rem;
    color: gray;
    /* letter-spacing: 3px; */
    line-height: 30px;
}

.about-group-right {
    display: flex;
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: gray;
}

.about-right-image {
    width: 50rem;
    height: 25rem;
    margin-left: auto;
    object-position: center;
}

.about-group-right-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 220px;
    right: 500px;
    width: 40rem;
    border: 2px solid goldenrod;
    padding-top: 3rem;
}

.about-right-top-header {
    position: absolute;
    top: 200px;
    left: 150px;
    letter-spacing: 10px;
    color: lightgray;
}

.about-right-main-header {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: absolute;
    left: 380px;
    top: 90px;
    width: 100%;
}

.about-right-header {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 100px;
}

.about-right-text {
    width: 20rem;
    padding-right: 2rem;
    color: lightgray;
    line-height: 30px;
}

@media only screen and (max-width: 600px) {
    .about-section {
        margin-top: 4rem;
    }
    .about-group-left {
        flex-direction: column;
    }
    .about-left-image {
        width: 100%;
    }
    .about-group-left-text {
        position: inherit;
        top: 0;
        left: 0;
        display: block;
        padding: 30px;
        border: 0;
        text-align: center;
        width: 100%;
    }
    .about-left-main-header {
        color: black;
        position: inherit;
        letter-spacing: 0;
        font-size: 2rem;
    }
    .about-left-header {
        color: black;
        padding: 0;
    }
    .about-left-text {
        width: 100%;
        padding: 0;
    }
    .about-group-right {
        position: inherit;
        display: block;
        padding-top: 4rem;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 4rem;
        text-align: center;
    }
    .about-right-top-header {
        position: inherit;
    }
    .about-group-right-text {
        position: inherit;
        display: block;
        border: 0;
        width: 100%;
        padding: 30px;
    }
    .about-right-text {
        width: 100%;
        padding: 0;
    }
    .about-right-image {
        width: 100%;
    }
    .about-right-header {
        padding: 0;
    }
}

/* collection */

.collection-section {
    margin: auto;
    width: 100%;
    max-width: 72rem;
    margin-bottom: 10rem;
    position: relative;
}

.collection-header {
    text-align: center;
    letter-spacing: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.collection-text {
    background-color: beige;
    padding: 3px;
    width: 30%;
    position: absolute;
    top: 50px;
    right: 50px;
}

.collection-text::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 2px;
    background-color: gray;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 1;
    position: absolute;
    top: 13px;
    left: -60px;
}

.collection-group {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.first-collection {
    display: flex;
}

.first-collection-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-collection-heading {
    color: gray;
}

.first-collection-heading::after {
    content: "";
    display: inline-block;
    width: 55px;
    height: 3px;
    background-color: gray;
    margin-right: 5px;
    margin-bottom: 10px;
    opacity: 1;
}

.first-collection-image-group {
    display: flex;
    padding: 5px;
}

.first-collection-image {
    width: 20rem;
    height: 25rem;
    padding: 20px;
}

.first-collection-text-group {
    position: absolute;
    top: 500px;
    left: 100px;
    width: 30rem;
}

.first-collection-text-heading {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    background-color: lightgray;
    padding: 5px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
}

.first-collection-text-heading::before {
    content: "";
    position: absolute;
    top: -90px;
    right: 400px;
    bottom: 0;
    height: 80px;
    border-left: 2px solid #333;
}

.first-collection-text-text {
    color: gray;
    width: 15rem;
    margin-left: auto;
}

.first-collection-text-link {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
}

.first-collection-text-link:hover {
    color: gray;
}

.first-collection-photo-group {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    height: 45rem;
}

.first-collection-photo-text-group {
    width: 25rem;
    top: 280px;
    padding-left: 4rem;
    position: absolute;
}

.first-collection-photo-heading {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

.first-collection-photo-heading::before {
    content: "";
    position: absolute;
    top: -45px;
    right: 310px;
    bottom: 0;
    height: 40px;
    border-left: 2px solid #333;
}

.first-collection-photo-text {
    font-size: 14px;
    color: gray;
}

.first-collection-photo-logo {
    position: absolute;
    right: 10px;
}

.photo-small-image {
    width: 15rem;
    height: 20rem;
    border: 15px solid white;
}

.first-collection-photo-image-group {
    position: absolute;
    right: 65px;
    bottom: 400px;
}

.first-collection-photo-image-group::before {
    content: "";
    position: absolute;
    top: -85px;
    right: 350px;
    height: 100px;
    border-left: 2px solid #333;
}

.second-collection {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.second-first-collection {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 6rem;
}

.second-first-image-heading {
    color: gray;
    position: absolute;
    bottom: 300px;
    left: 550px;
}

.second-first-image-group {
    display: flex;
}

.second-first-image {
    width: 15rem;
    height: 20rem;
    border: 10px solid white;
}

.second-first-text-group {
    width: 30rem;
}

.second-first-text-heading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}

.second-first-text-text {
    color: gray;
    font-size: 14px;
}

.second-second-collection {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -200px;
    left: 250px;
    z-index: -1;
}

.second-second-heading {
    color: gray;
    margin-left: auto;
}

.second-second-image-group {
    display: flex;
    justify-content: center;
}

.second-second-image-heading {
    color: white;
    text-shadow: 2px 10px 10px gray;
    /* font-size: 1rem; */
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: auto;
    line-height: 50px;
    font-weight: bold;
}

.second-second-image {
    width: 37rem;
    height: 18rem;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .collection-text {
        position: inherit;
        width: 100%;
        top: 0;
        right: 0;
        text-align: center;
    }
    .first-collection {
        display: block;
    }
    .first-collection-group {
        position: inherit;
    }
    .first-collection-image-group {
        padding: 20px;
        display: block;
    }
    .first-collection-image {
        width: 100%;
        height: 30rem;
    }
    .first-collection-text-group {
        position: inherit;
        width: 100%;
    }
    .first-collection-photo-group {
        display: block;
    }
    .first-collection-photo-image-group {
        position: inherit;
        padding: 20px;
    }
    .first-collection-photo-text-group {
        position: inherit;
    }
    .photo-small-image {
        width: 100%;
        height: 30rem;
    }
    .second-collection {
        display: block;
    }
    .second-first-image-heading {
        position: inherit;
        text-align: center;
    }
    .second-first-collection {
        position: inherit;
        display: block;
        margin: 0;
    }
    .second-first-image-group {
        display: block;
        padding: 30px;
    }
    .second-first-image {
        width: 100%;
        height: 30rem;
        border: 0;
        padding: 10px;
    }
    .second-first-text-group {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .second-second-collection {
        display: block;
        position: inherit;
    }
    .second-second-image-group {
        display: block;
    }
    .second-second-image {
        width: 100%;
        height: 30rem;
    }
    .second-second-heading {
        text-align: center;
    }
    .second-second-image-heading {
        text-align: center;
    }
    .first-collection-heading {
        text-align: center;
    }
    .first-collection-text-heading::before {
        border: 0;
    }
    .first-collection-text-text {
        width: 100%;
        text-align: center;
    }
    .first-collection-photo-text-group {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-top: 5rem;
    }
    .first-collection-photo-logo {
        position: inherit;
    }
    .second-collection {
        margin-top: 30rem;
    }
    .first-collection-photo-heading::before {
        border: 0;
    }
    .first-collection-photo-image-group::before {
        border: 0;
    }
}

/* image collection */

.image-collection-group {
    max-width: 72rem;
    padding-top: 4rem;
    margin-left: 50px;
    display: flex;
    width: 50rem;
}

.image-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-group-svg {
    width: 30%;
    height: 80%;
    font-size: 12px;
    position: absolute;
    /* opacity: 0; */
    display: none;
    transition: 0.5s ease;
}

.image-collection {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.image-group-svg:hover {
    opacity: 1;
}

.image-collection:hover {
    opacity: 0.3;
    filter: brightness(0.2);
}

@media only screen and (max-width: 600px) {
    .image-collection-group {
        display: flex;
        flex-wrap: wrap;
        max-width: none;
        margin: 0;
        justify-content: center;
        width: 100%;
    }
    .image-collection {
        width: 100%;
        height: 13rem;
    }
}

/* footer */

#footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    display: flex;
    align-items: top;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10rem;
    background-color: lightgray;
}

.footer-logo-group {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding: 30px;
}

.footer-logo {
    font-size: 29px;
    width: 100px;
}

.footer-copyright {
    color: gray;
    font-size: 12px;
    text-transform: uppercase;
}

.footer-content-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.footer-store-group {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px;
}

.footer-store-list {
    margin-left: 30px;
    list-style: none;
    display: flex;
    align-items: center;
}

.footer-store-link {
    text-decoration: none;
    color: gray;
}

.footer-store-list::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 2px;
    background-color: gray;
    margin-right: 5px;
    opacity: 0;
}

.footer-store-list:hover::before {
    opacity: 1;
}

.footer-store-link:hover {
    color: black;
    font-weight: 600;
}

.footer-social-group {
    margin-left: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 30px;
}

.footer-social-link {
    text-decoration: none;
    color: gray;
}

.footer-social-list::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 2px;
    background-color: gray;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 0;
}

.footer-social-list:hover::before {
    opacity: 1;
}

.footer-social-link:hover {
    color: black;
    font-weight: 600;
}

.footer-address-group {
    width: 20%;
    padding: 30px;
    font-size: 14px;
    color: gray;
}

.footer-address-header {
    font-weight: 600;
    color: black;
}

.footer-email-group {
    width: 20%;
    padding: 30px;
}

.footer-email-heading {
    text-transform: uppercase;
    font-weight: 800;
}

.footer-email-text {
    font-size: 12px;
}

.footer-email-input-group {
    display: flex;
}

.footer-email-input {
    width: 150px;
    font-size: 14px;
}

.footer-email-button {
    width: 30px;
    background-color: black;
    border: none;
    color: white;
    margin-left: 1px;
}

@media only screen and (max-width: 600px) {
    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-logo-group {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer-content-group {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .footer-store-group {
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .footer-store-list::before {
        display: none;
    }
    .footer-social-group {
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    .footer-social-list {
        margin-left: 15px;
    }
    .footer-social-list::before {
        display: none;
    }
    .footer-address-group {
        width: 100%;
        text-align: center;
    }
    .footer-email-group {
        width: 100%;
        text-align: center;
    }
    .footer-email-input-group {
        align-items: center;
        justify-content: center;
    }
    .page-container {
        overflow-x: hidden;
    }
}

body {
    overflow-x: hidden !important;
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .page-container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}
